*{
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

#box {
	margin: 30px;
	width: 700px;
}

#container {
	margin-top: 10px;
	border: 2px solid black;
	border-radius: 5px;
	display: flex;
}

#tf_input {
	margin-left: auto;
	margin-right: auto;
}

.swatch {
	background-color: black;
	width: 100px;
	height: 100px;
	text-align: center;
	margin: 20px;
	margin-right: auto;
	margin-left: auto;
}

input[type="number"] {
	margin-top: 10px;
	border: 2px solid rgb(56, 152, 207);
	border-radius: 15px;
}

/* input[type=radio] {
	margin-right: 50px;
} */

label[for="colors"] {
	font-weight: bolder;
	font-size: 19px;
}


